<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ assetsPath }}css/admin.css" type="text/css" />

</head>
<body>
<div class="block-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 bg-sidebar">
                {% block sidebar %}
                <section id="logo">
                    <div class="img-block">

                    </div>
                    <div class="logo-block">
                        WD STUDIO
                    </div>
                </section>
                <section id="navigation">
                    <nav class="main-navigation">
                        <ul class="nav flex-column">
                            <li class="nav-item"><a href="/admin">Dashboard</a></li>
                            <li class="nav-item"><a href="/admin/page">Pages</a></li>
                            <li class="nav-item"><a href="/admin/userst">Users</a></li>
                            <li class="nav-item"><a href="/admin/roles">Roles</a></li>
                            <li class="nav-item"><a href="/admin/permissions">Permissions</a></li>
                            <li class="nav-item"><a href="/admin/settings">Settings</a></li>
                        </ul>
                    </nav>
                </section>
                {% endblock %}
            </div>
            <div class="col-md-10">
        {% block header %}
                <section id="header">
                    <nav id="top-menu" class="nav justify-content-end">
                        <ul>
                            <li><a href="/logout">Enter</a></li>
                        </ul>
                    </nav>
                </section>
        {% endblock %}


        {% block content %}

        {% endblock %}
            </div>
        </div>
    </div>
        {% block footer %}
        {{ include('footer.twig.html') }}
        {% endblock %}

</div><!-- END WRAPPER -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>